<launch>

    <!-- Parameters -->

    <!-- Topic from which to take the frames -->
    <arg name="topic" default="/usb_cam/image_raw" />

    <!-- Color format -->
    <arg name="color" default="RGB" />

    <!-- Framerate of stream video -->
    <arg name="framerate" default="20" />

    <!-- Resolution of camera -->
    <arg name="width" default="640" />
    <arg name="height" default="480" />

    <!-- Profile of encoder
            - high-quality
            - medium-quality
            - low quality
            - customized
    -->
    <arg name="profile" default="medium-quality" />

    <!-- Subpixel motion estimation and partition decision quality: (fast - worst) 1 <= x <= 10 (slow - best)
         NB: used only in customized mode
    -->
    <arg name="subme" value="" />

    <!-- Constant quantizer or quality to apply. (high quality) 1 <= x <= 50 (low quality)
         NB: used only in customized mode
    -->
    <arg name="quantizer" value="" />

    <!-- Number of threads used by the encoder (0 = auto)
         NB: used only in customized mode
    -->
    <arg name="threads" value="" />

    <node pkg="ros_streaming_cam" type="streaming_cam" name="streaming_cam">
        <param name="topic" value="$(arg topic)" />
        <param name="color" value="$(arg color)" />
        <param name="framerate" value="$(arg framerate)" />
        <param name="width" value="$(arg width)" />
        <param name="height" value="$(arg height)" />

        <param name="profile" value="medium-quality" />
        <param name="subme" value="$(arg subme)" />
        <param name="quantizer" value="$(arg quantizer)" />
        <param name="threads" value="$(arg threads)" />
    </node>
</launch>
